$main-color: #1D75BF;
$main-color-gradient: #1D75BF #5FAEF1;
$main-color-light:#5FAEF1;
$dark: #212121;
$light: #FFFFFF;
$background: #FAF8F8;
$helper: #ABABAB;
$grey: #F4F4F4;
$error-red: #ff0019;
$red: #B60012;
$white: #fff;
$starts: #FFD700;
                                                