
@media (max-width: 1440px){
    .central-quote-form{
        .form-step-two__title{
            max-width: 620px;
            left: 50%;
            transform: translateX(-50%);
        }
        margin-top: -230px;
    }
.location-inputs {
    &__fields {
        input {
          width: 100%;
        }
    }
}
    .form{
        &-selector{
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(2, auto);
            &__card{
                min-width: 300px;
                border-radius: inherit;
                
                &:last-child{
                    border-radius: inherit;
                } 
                &:nth-child(2){
                border-radius:  0 20px 0 0;
                }
            }
            &__dropdown{
                grid-row: 3/4;
                grid-column: 1/3;
                border-radius: inherit;
            }
        }
    }
    .about-us-block {
        gap: 40px;
  
        .about-us-text {
          padding: 32px;
        }
      }
      .contact-section__container {
        width: 100%;
      .contact-section__info{
        // width: 500px;
      }
    }
}

